In [62]:
import sys
sys.path.append('/Users/jsimpson/Projects/personal/python_scripts/fpl_predictor')
import os
os.chdir('/Users/jsimpson/Projects/personal/python_scripts/fpl_predictor')
import master

In [63]:
import pandas as pd
fixtures_df = pd.read_csv('/Users/jsimpson/Projects/personal/python_scripts/fpl_predictor/data_fpl/data/2023-24/fixtures.csv')
fixtures_df.columns
# fixtures_df['team_h']

Index(['code', 'event', 'finished', 'finished_provisional', 'id',
       'kickoff_time', 'minutes', 'provisional_start_time', 'started',
       'team_a', 'team_a_score', 'team_h', 'team_h_score', 'stats',
       'team_h_difficulty', 'team_a_difficulty', 'pulse_id'],
      dtype='object')

In [64]:
merged_gw_df = pd.read_csv('/Users/jsimpson/Projects/personal/python_scripts/fpl_predictor/data_fpl/data/2023-24/gws/merged_gw.csv')
# merged_gw_df.head()
merged_gw_df.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes', 'opponent_team',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'starts', 'team_a_score', 'team_h_score',
       'threat', 'total_points', 'transfers_balance', 'transfers_in',
       'transfers_out', 'value', 'was_home', 'yellow_cards', 'GW'],
      dtype='object')

In [65]:
merged_gw_df["fixture"]

0          7
1          4
2         10
3          7
4          8
        ...
29720    379
29721    378
29722    376
29723    374
29724    372
Name: fixture, Length: 29725, dtype: int64

In [66]:
mohamed_salah_df = merged_gw_df[merged_gw_df['name'] == 'Mohamed Salah']
mohamed_salah_df.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,starts,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
551,Mohamed Salah,MID,Liverpool,4.5,1,0,15,0,20.2,308,0.31,0.59,0.28,1.28,9,1,0,4.9,16.6,2023-08-13T15:30:00Z,76,7,0,0,0,0,1,0,2243674,1,1,1,12.0,5,0,0,0,125,False,0,1
1158,Mohamed Salah,MID,Liverpool,5.5,0,0,15,0,33.0,308,0.11,1.34,1.23,1.00,14,1,1,15.3,41.4,2023-08-19T14:00:00Z,85,3,0,1,0,0,2,0,2739755,1,1,3,79.0,5,163064,211617,48553,125,True,0,2
1825,Mohamed Salah,MID,Liverpool,5.0,1,0,19,0,24.9,308,0.12,0.30,0.18,2.00,29,1,0,7.0,28.6,2023-08-27T15:30:00Z,90,15,0,0,0,0,3,0,2570086,1,2,1,16.0,5,-229297,98738,328035,125,False,0,3
2525,Mohamed Salah,MID,Liverpool,6.3,0,0,26,1,23.1,308,0.07,0.87,0.80,0.66,37,0,1,18.3,45.2,2023-09-03T13:00:00Z,90,2,0,0,0,0,4,0,2505698,1,0,3,115.0,8,-122416,74612,197028,125,True,0,4
3239,Mohamed Salah,MID,Liverpool,8.2,2,2,35,0,57.4,308,1.47,1.71,0.24,0.63,50,1,0,12.1,44.2,2023-09-16T11:30:00Z,90,20,0,0,0,0,5,0,2540130,1,3,1,19.0,10,-22644,117182,139826,125,False,0,5

In [67]:
merged_df = pd.merge(mohamed_salah_df, fixtures_df, how='left', left_on=['kickoff_time', 'opponent_team'], right_on=['kickoff_time', 'team_a'])
merged_df = pd.merge(mohamed_salah_df, fixtures_df, how='left', left_on=['kickoff_time', 'opponent_team'], right_on=['kickoff_time', 'team_h'])

# Drop duplicate columns after merge
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]
print(len(merged_df))

38

In [68]:
pd.set_option('display.max_columns', None)
merged_df.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes_x,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,starts,team_a_score_x,team_h_score_x,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,code,event,finished,finished_provisional,id,minutes_y,provisional_start_time,started,team_a,team_a_score_y,team_h,team_h_score_y,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,Mohamed Salah,MID,Liverpool,4.5,1,0,15,0,20.2,308,0.31,0.59,0.28,1.28,9,1,0,4.9,16.6,2023-08-13T15:30:00Z,76,7,0,0,0,0,1,0,2243674,1,1,1,12.0,5,0,0,0,125,False,0,1,2367546.0,1.0,True,True,9.0,90.0,False,True,11.0,1.0,7.0,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4.0,3.0,93329.0
1,Mohamed Salah,MID,Liverpool,5.5,0,0,15,0,33.0,308,0.11,1.34,1.23,1.00,14,1,1,15.3,41.4,2023-08-19T14:00:00Z,85,3,0,1,0,0,2,0,2739755,1,1,3,79.0,5,163064,211617,48553,125,True,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mohamed Salah,MID,Liverpool,5.0,1,0,19,0,24.9,308,0.12,0.30,0.18,2.00,29,1,0,7.0,28.6,2023-08-27T15:30:00Z,90,15,0,0,0,0,3,0,2570086,1,2,1,16.0,5,-229297,98738,328035,125,False,0,3,2367566.0,3.0,True,True,29.0,90.0,False,True,11.0,2.0,15.0,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4.0,4.0,93349.0
3,Mohamed Salah,MID,Liverpool,6.3,0,0,26,1,23.1,308,0.07,0.87,0.80,0.66,37,0,1,18.3,45.2,2023-09-03T13:00:00Z,90,2,0,0,0,0,4,0,2505698,1,0,3,115.0,8,-122416,74612,197028,125,True,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mohamed Salah,MID,Liverpool,8.2,2,2,35,0,57.4,308,1.47,1.71,0.24,0.63,50,1,0,12.1,44.2,2023-09-16T11:30:00Z,90,20,0,0,0,0,5,0,2540130,1,3,1,19.0,10,-22644,117182,139826,125,False,0,5,2367587.0,5.0,True,True,50.0,90.0,False,True,11.0,3.0,20.0,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4.0,2.0,93370.0

In [69]:
merged_df.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes_x', 'opponent_team',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'starts', 'team_a_score_x',
       'team_h_score_x', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW', 'code', 'event', 'finished', 'finished_provisional', 'id',
       'minutes_y', 'provisional_start_time', 'started', 'team_a',
       'team_a_score_y', 'team_h', 'team_h_score_y', 'stats',
       'team_h_difficulty', 'team_a_difficulty', 'pulse_id'],
      dtype='object')